h1{
    color: #ffffff;
    
}

.m-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .container{
    width: 80%;
    
  }
  
  

  .dropdown {
    
    display: flex;
    align-items: center;
    
}

.dropdown button{
    border: #ffffff 2px solid;
    border-radius: 15px;
    padding: 10px;
    color: #8d8d8d;
    background-color: #ffffff;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

  .tool-all{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    padding-top:5px ;
    padding-bottom:5px ;
    margin-bottom: 30px;
    
  }
  .tool {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .tool-bar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 80%;
    
    
  }

  .tool input{
    border: #ffffff 2px solid;
    
    padding: 5px;

  }
  .tool input:focus{
    border: #838383 2px solid;
    outline: none;
    

  }


 


  .tool-button button {
    background-color:#8cd032;
    border: #8cd032;
    border-radius: 7px;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
    
    font-weight: 600;

  }
  